.scrollContainer {
    height: 400vh; /* Adjust based on total scroll length you desire */
    width: 100vw;
    position: relative;
    z-index: -2;
    background-color: #2373cf;
    perspective: 10px;
}

.homeSection {
    position: sticky;
    top: 0; /* This will "stick" the section to the top */
    height: 50vh; /* Adjust this if you want a different height */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    background-image: linear-gradient(45deg,
    #ee5d6c,
    #fb9062,
    #fb9062,
    #eeaf61,
    #eeaf61,
    #44b7fc,
    #099ffc,
    #5cccfc

    );
    background-size: 500%;
    background-position: left;
    animation: backgroundShift linear;
    animation-timeline: view(100vh 50vh);
    overflow: clip;
}

.positioningWrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%; /* Full width of the homeSection */
    height: 100%; /* Full height of the homeSection */
    display: flex;
    justify-content: flex-end; /* Align children to the right */
    align-items: flex-end; /* Align children to the bottom */
}

.title {
    /* This will center the title in the middle of the container */
    text-align: center;
    z-index: 2;
    text-shadow: 0 0 5px black;
}


@keyframes backgroundShift {
    0% {background-position: left;}
    25% {background-position: right;}
    75% {background-position: right;}
    100% {background-position: left;}
  }

.spacing{
    height: 100vh;
    z-index: 1;
    background-color: #0066cc;
}

