.scrollContainer {
    height: 300vh; /* Adjust based on total scroll length you desire */
    width: 100vw;
    position: relative;
    z-index: -2;
    perspective: 10px;
}

.homeSection {
    position: sticky;
    top: 0; /* This will "stick" the section to the top */
    height: 50vh; /* Adjust this if you want a different height */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    background-color: #6dd5ed; /* Initial sky blue */
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    background-size: cover;
    animation: colorShift linear;
    animation-timeline: view();
    overflow: clip;
}

.positioningWrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%; /* Full width of the homeSection */
    height: 100%; /* Full height of the homeSection */
    display: flex;
    justify-content: flex-end; /* Align children to the right */
    align-items: flex-end; /* Align children to the bottom */
}

.title {
    /* This will center the title in the middle of the container */
    text-align: center;
    z-index: 2;
    text-shadow: 0 0 5px black;
}

@keyframes colorShift {
    0% {
        background-color: #FFA243; /* Sky blue */
    }
    20%{
        background-color: #FFA243; /* Sky blue */
    }
    40% {
        background-color: #5bbce3; /* Sky blue */
    }
    60% {
        background-color: #2faadc; /* Sky blue */
    }
    70% {
        background-color: #ffd497; /* Sunset orange */
    }
    80% {
        background-color: #fba58b; /* Sunset orange */
    }
    100% {
      background-color: #fb918f; /* Sunset orange */
    }
  }

.spacing{
    height: 100vh;
    z-index: 1;
    background-color: #0066cc;
}

